.mainContainer{
    /* display: flex;
    flex-direction: column;
     border: 7px groove rgb(216, 119, 8); 
     position: inherit;
    max-width: 100vw;
    max-height: 100vh;
    padding: .5rem;
     
     border-radius: 1%;
    align-items: center; */
width:75%;
display: flex;
flex-direction: column;
align-items: center;
} 
.picCarousel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.myPictures {
    display: flex;
    flex-direction: row;

    width: 75%;
    padding: .5rem;
}
.myPictures img {
   display: flex;
    width: 50rem ;
   border: double 8px rgb(48, 46, 46);
    border-radius: 7%;
   
}
.bioText{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    width: 60%;
    color: #2e2e2e;
   position: relative;
   left: 30rem;

}
.pictureBtn {

 display: flex;
 top: 30rem;
 left: 27rem;
 border: 3px outset #2e2e2e;
 background-color: 	#cf9e00;
 height: fit-content;
 width: auto;
 font-size: 36px;
 font-weight: 300;
 margin: 2px;
font-weight: bolder;
 border-radius: 8%;
 font-family: 'Indie Flower', cursive;
 color: #2e2e2e;

}
h1{
    font-family: 'Acme', sans-serif;
    color: #2e2e2e;
    font-size: 50px;
   text-align: center;
   
    width: 75%;
}
.bioContainer{
    display: flex;
    flex-direction: column;
position: relative;
left: 100px;
}
.additionalInfo{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    width: 60%;
    color: #2e2e2e;
   position: relative;
   left: 30rem;
   bottom: 5rem;

}
.pictureDescription{
    display: flex;
    flex-direction: row;
    margin: 2%;
    
    height: 40%;
    width: 30%;
    justify-content: flex-end ;
    font-family: 'Amatic SC', cursive;
    font-size: 29px;
    font-weight: 100;
    color: #2e2e2e;
    border: double 8px #2e2e2e;
    border-radius: 7%;
background-color: #cf9e00;
padding: 2px;
}
/* @media screen and (max-width: 390px) {
    .additionalInfo{
        bottom: 44rem;
        left: 42rem;
        font-size: 38px;
        width:15rem
       
        
    }
    .bioContainer{
    width:30%;
    left: -10rem;
}
h1{
    left: 9rem;
}
.bioText{
    font-size: 38px;
    left: 13rem;
}
.pictureDescription{
    left: 3rem;
    top: 10rem;
   font-size: 20px;
   overflow-y: auto;
   width: 10rem;
}
.myPictures img{
    left: -1rem;
    bottom: 30rem
}
.pictureBtn {
    top: 40rem;
    left: 20rem;

}
} */
    
