.mainContainer{
    display: flex;
    flex-direction: column;
    border: 7px groove rgb(216, 119, 8);
    position: absolute;
    width: 50%;
    margin: 1rem;
    padding: .5rem;
    background-color: cadetblue;
}
.myPictures {
    display: flex;
    flex-direction: row;
    border: 7px solid black;
}
.myPictures img {
    width: 75% ;
}