.sideBarContainer{
    display: flex;
    flex-direction: column;
    position: relative;
   width: 12rem;
   left: 65rem;
   top: 20rem;

}
.sideBar{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    color:rgb(56, 50, 50);
    font-size: xx-large;
}