.sideBarContainer{
    display: flex;
    flex-direction:row;
align-items: center;
   width: 100%;
   border: double 8px #2e2e2e;
   position: sticky;
background-color: #cf9e00;
/* position: sticky;
left: 80%;
top: 50%; */
}
.sideBar{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
}
.sideBar a {
    color:rgb(48, 18, 1);
    padding: 2rem;
    text-decoration: none;
}
/* @media  screen and  (max-width: 390px) {
.sideBarContainer {
    width: 50%;
    left: 38rem;
    top: -142rem;
}
 };  */
    
