.sideBarContainer{
    display: flex;
    flex-direction: column;
    position: relative;
   width: 12rem;
   left: 92rem;
   top: -26rem;

}
.sideBar{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    
    font-size: xx-large;
}
.sideBar a {
    color:rgb(48, 18, 1);
    padding: 2rem;
}
@media  screen and  (max-width: 390px) {
.sideBarContainer {
    width: 50%;
}
};
    
