.card-body{
    width: 50%;
    margin: 2%;
    background-image: none;
    display: flex;
    flex-direction: row;
    
 
}
.card1{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    border: double 5px var(--burgandy);
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 5%;
}
h1{
    font-family: 'Acme', sans-serif;
    color:var(--burgandy);
    font-size: 35px;
    display: flex;
}
.card-image{
   width: 50%;
   object-fit:contain;
   border: double 17px var(--burgandy);
}
p{
    width: 50%;
    color: var(--forestGreen)
}
