.card-body{
    width: 50%;
    margin: 2%;
    background-image: none;
    display: flex;
    flex-direction: row;
    
 
}
.card1{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    border: solid 7px var(--forestGreen);
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 5%;
}
h1{
    font-family: 'Acme', sans-serif;
    color:var(--burgandy);
    font-size: 2rem;
    display: flex;
}
.card-image{
   width: 50%;
   object-fit:contain;
   border: groove 17px var(--forestGreen);
}
p{
    width: 50%;
    font-size: 20px;
    color: var(--forestGreen);
    font-family: 'Amatic SC', cursive;
    border: solid 2px var(--forestGreen);
    padding: 2%;
}
button {
    background-color: var(--tan);
    border: 2px solid var(--burgandy);
    display: flex;
    color: var(--burgandy);
    
    
}
@media screen and (max-width: 390px) {
   
    h1, p{
        font-size: 20px;
    }
    
 } 